.container {
    margin-top: 30px;
    border-top: 1px solid #EAEAEA;
    padding: 28px 0 0 0;
    width: 1076px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .coluna-1 {
        h2 {
            font-size: 20px;
            color: #47525E;
            margin-bottom: 14px;
        }
    
        h3 {
            font-size: 18px;
            color: #666666;
            font-weight: 300;
        }
    }

    .add-button, ng-template .add-button {
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
    
        font-size: 16px;
        background-color: #E29933;
        width: 117px;
        height: 35px;
        border: none;
        border-radius: 5px;
        margin-right: 70px;
    }
}