<div class="card">
    <div class="coluna-1">
        <div class="linha">
            <div class="coluna"> {{ nome }} </div>
            <div class="coluna"> {{ cpf }} </div>
        </div>
    
        <div class="linha">
            <div class="coluna"> {{ email }} </div>
            <div class="coluna"> {{ telefone }} </div>
        </div>
    </div>


    <div class="coluna-2">
        <div class="status">
            <div class="status-pointer"></div>
            <span> {{ status }} </span>
        </div>

        <div class="editar">
            <app-edit-button></app-edit-button>
        </div>
    </div>
<!-- 
    <div class="row">
        <div class="col-4"> john_doe.com </div>
        <div class="col-4"> (11) 9998-8475 </div>
    </div> -->
</div>