<div class="container">
    <div class="linha-1">
        <h2> Novo usuário </h2>
        <h3> Informe os campos a seguir para criar novo usuário: </h3>
    </div>

    <div class="form-container">
        <form action="post" #form="ngForm" (ngSubmit)="sendData(form)">
            <div class="nome-cliente">
                <input [(ngModel)]="cliente.nome"
                id="nome"
                type="text"
                name="nome"
                placeholder="Nome"
                class="form-input"
                required
                >
                <div class="required-field" *ngIf="form.submitted && !form.controls['nome']?.valid">
                    Nome obrigatório
                </div>
            </div>

            <div class="email-cliente">
                <input [(ngModel)]="cliente.email"
                email
                type="email"
                name="email"
                placeholder="E-mail"
                class="form-input"
                required
                >
                <div class="required-field" *ngIf="form.submitted && !form.controls['email']?.valid">
                    E-mail obrigatório
                </div>
            </div>

            <div class="cpf-cliente">
                <input [(ngModel)]="cliente.cpf"
                type="text"
                name="cpf"
                placeholder="CPF"
                class="form-input"
                required
                >
                <div class="required-field" *ngIf="form.submitted && !form.controls['cpf']?.valid">
                    CPF obrigatório
                </div>
            </div>

            <div class="telefone-cliente">
                <input [(ngModel)]="cliente.telefone"
                type="text"
                name="telefone"
                placeholder="Telefone"
                class="form-input"
                required
                >
                <div class="required-field" *ngIf="form.submitted && !form.controls['telefone']?.valid">
                    Telefone obrigatório
                </div>
            </div>

            <div class="status-cliente">
                <select name="status" id="" [(ngModel)]="cliente.status" class="form-input" required>
                    <option value="ativo" selected> Ativo </option>
                    <option value="desativado"> Desativado </option>
                    <option value="aguardando ativação"> Aguardando ativação </option>
                    <option value="inativado"> Inativado </option>

                    <div class="required-field" *ngIf="form.submitted && !form.controls['status']?.valid">
                        Status obrigatório
                    </div>
                </select>
            </div>

            <div>
              <input
              type="submit"
              class="button-add"
              value="Adicionar"
              >
              <input
              class="button-voltar"
              (click)="isButtonClicked()"
              value="Voltar">
            </div>
        </form>
    </div>
</div>
